# ====== IDE Settings
.idea/

# ====== File extensions anywhere
*.nogit
*.pyc
*.npp
*.log
*.egg-info/
*.min.html/
.DS_Store

# ======= Directories anywhere
__target__/
__javascript__/
__pycache__/
.mypy_cache/
dist/
build/
node_modules/
venv/

# ======== Directories at specific locations
transcrypt/docs/sphinx/_build/
transcrypt/development/attic/
transcrypt/development/docs/
transcrypt/development/experiments/
transcrypt/development/automated_tests/*/autotest.html
