*.nogit
*.pyc
*.npp
*.egg-info/
**.__pycache__/
dist/
transcrypt/docs/sphinx/_build/
transcrypt/development/attic/
transcrypt/development/docs/
transcrypt/development/experiments/
transcrypt/modules/org/transcrypt/__javascript__/__base__.mod.js
transcrypt/modules/org/transcrypt/__javascript__/__standard__.mod.js
