global-include *.py *.js *.rst *.html *.css *.lyx *.pdf *.png *.gif *.jpg *.txt *.jar *.bat *
global-exclude *.pyc .gitignore workspace.*

prune .git
prune .idea
prune build
prune dist
prune transcrypt.egg-info
prune venv
prune transcrypt/ts
prune transcrypt/ts.bat
prune transcrypt/ts_travis
prune transcrypt/development/attic
prune transcrypt/development/docs
prune transcrypt/development/experiments
